body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.form-container {
    background-color: #28a745;
    border-radius: 10px;
    padding: 30px 20px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: white;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.btn-entrar {
    background-color: #ffc107;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s;
}

.btn-entrar:hover {
    background-color: #e0a800;
}

p {
    color: white;
    margin-top: 15px;
    font-size: 14px;
}

p a {
    color: #004085;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}