@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.banner {
    width: 100%;
    height: auto; /* Permite que la altura se ajuste automáticamente */
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

/* Estilo para la imagen dentro del banner */
.banner img {
    width: 100%; /* Hace que la imagen se ajuste al 100% del ancho de su contenedor */
    max-width: 1800px; /* Puedes ajustar el valor para hacerla más pequeña */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin perder proporción */
}

/* Estilo para el botón */
.banner-button {
    position: absolute; /* Coloca el botón encima de la imagen */
    top: 75%; /* Posiciona el botón un poco más abajo de la mitad */
    left: 5%; /* Lo mueve un poco hacia la izquierda */
    padding: 21px 210px; /* Tamaño del botón */
    font-size: 21px; /* Tamaño de texto del botón */
    background-color: #fff7bf; /* Color de fondo */
    color: #004cc7; /* Color del texto */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor cuando pasa sobre el botón */
    transition: transform 0.3s ease, padding 0.3s ease; /* Añade transición al tamaño y padding */
}

/* Efecto al pasar el ratón sobre el botón */
.banner-button:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
    
}

@media (max-width: 720px) {
    .banner-button {
        font-size: 14px; /* Reduce el tamaño del texto en pantallas pequeñas si es necesario */
        padding: 10px 25px; /* Ajusta el tamaño del botón en dispositivos móviles */
    }
}